<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home page">
    <meta name="author" content="Lauren Broski">
    <title> Lauren Broski's Portfolio Profile </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="img/coffeeCup.png" type="img/png" />
    <link rel="stylesheet" href="css/portfolio_stylesheet.css">
</head>

<body>
    <header>
        <nav>
            <span><a href="index.html"> Home Page</a> </span>
            <span><a href="html/my_resume.html"> Resume Page</a> </span>
            <span><a href="html/my_fun_facts.html"> Fun Facts Page</a> </span>
            <span><a href="html/my_blog.html"> Blog Page</a> </span>
        </nav>
    </header>

    <main id='landing page content'>
        <h1> This is Lauren Broski's Portfolio Page </h1>
        <h2> Introducing Me </h2>
        <figure>
            <img src="img/HappyLauren.jpeg" alt="Lauren Broski Happy" width="300" height="400">
            <figcaption> Figure: Lauren Broski standing in an Oakland University t-shirt in front of a tropcial background.
                <br>An ocean is seen to the left and green hills are to the right. Her hands are up in a shrugging position </figcaption>
        </figure>


        <blockquote cite="https://www.brainyquote.com/authors/jonas-salk-quotes">
            "The reward for work well done is the opportunity to do more" - Jonas Salk
        </blockquote>

        <h3> Who is Lauren Broski? </h3>
        <p class="intro_top"> Hello, my name is Lauren Broski. I am junior at Oakland University in Rochester,
            <br> MI studying information technology. While my courses have equipped me with technical
            <br> skills in programming languages and networks, it is my on campus participation in clubs
            <br> and my on-campus job that has stressed to me the importance of teamwork and being a
            <br> self-starter. I have been involved in Women in Computing, Oakland University's Formula
            <br> SAE Team as a member of the electrical team, and as the Operations Coordinator for
            <br> Community Council.
        </p>
        <p class="intro_bottom"> Originally, I started out as a Computer Science, but found that I did not enjoy it as
            <br> much as I anticipated. My love for technology kept me in a STEM Track, and I chose
            <br> to try IT. I have worked in the past as a Project Services Intern for Indepdent Bank and
            <br> am currently working Oakland's Campus, for housing, as a part of the Technology Help Desk.
            <br>Both of these positions have given me good insight as to the type of work I can anticipate
            <br> doing post-graduation. Given the experience I have, I would be interested in testing the waters
            <br>in the field of Cybersecurity. To learn more about me and my experiences, feel free to
            <br>check out my resume and fun fact pages!
        </p>

        <div class="progress_bar">
            <label for="file">Progress to Bachelors Degree:</label>
            <progress id="file" value="104" max="128"> 81% </progress>
        </div>

    </main>

    <hr>
    <footer id="page footer">
        &copy; 2021, Lauren Broski;
        <section>
            <a href="https://www.linkedin.com" aria-label="LinkedIn">
                <i class="fab fa-linkedin fa-s"></i></a>
            <a href="https://www.twitter.com" aria-label="Twitter">
                <i class="fab fa-twitter fa-s"></i></a>
            <a href="mailto: laurenbroski@oakland.edu" aria-label="Email Lauren Broski">
                <i class="fas fa-paper-plane"></i></a>
        </section>

    </footer>
</body>