<!-- TO BE DELETED!!!!!!!!!!!!!!! REPLACED BY TRIVIA-->
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Blog page">
    <meta name="author" content="Lauren Broski">
    <meta keywords="BLOG, COMMENTS, REPLIES, NON-CONTROVERSIAL TOPICS">
    <title> Lauren Broski's Portfolio Profile </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../img/coffeeCup.png" type="img/png" />
    <link rel="shortcut icon" href="/public/media/img/coffeeCup.png" type="img/png" />
    <link rel="stylesheet" href="/public/css/portfolio_stylesheet.css">


</head>

<body>

    <header>
        <nav>
            <span><a href="/"> Home Page</a> </span>
            <span><a href="./my_resume.ejs"> Resume Page</a> </span>
            <span><a href="./my_funfacts.ejs"> Fun Facts Page</a> </span>
            <span><a href="./my_blog.ejs"> Blog Page</a> </span>
            <span><a href="./trivia.ejs"> Trivia Page</a> </span>
        </nav>
    </header>

    <main id='blog_content'>
        <h1> Blog Article: MacBook Pro 2021 Review</h1>
        <iframe id="Apple Laptop Reviews" title="MacBook 2021 " width="750" height="500" src="https://www.wired.com/review/macbook-pro-14-inch-2021/">
        </iframe>
        <section>
            <br> Analysis:
            <br> Apple's highly anticipated MacBook 2021 was just unveiled on October 18, with new faster processing chips, better storage, a 1080p camera, larger displays, and the reinstatement of the long awaited ports. Since 2016, Apple was aiming
            to enhance the sleekness and make their MacBooks lighter. In order to achieve the new look, they removed the HDMI Port, SD card slot, Thunderbolt 2 ports, and the standard USB port from laptops much to the dismay of the general public. Instead
            the only ports that were incorporated in the MacBook Pro were USB C. In order to work with HDMI and standard USB, additional adapters had to be purchased. After five years, MacBooks are back with three USB-C Thunderbolt 4 ports, an HDMI port,
            an SD card slot, a high-impedance headphone jack, and a MagSafe port for charging. Overall it seems like this MacBook will be highly rated, as a result of the major improvements made by Apple compared to the previous models. However, the one
            flaw that still remains with MacBooks is the battery life. Apple claims that it will run video playback for 17 hours. In reality, the reviewer did not find that to be true. While for most tasks, the battery would be sufficient in cases where
            heavy video editing needs to be done, it may be more of a challenge. As good as this MacBook sounds, it comes with a hefty price tag, with the starting price at $2,000. <br> <br>
            <br>
            <br>
        </section>

        <div class="container">
            <label id="label" for="newComment" name="newComment">Comment Section</label>
            <br>
            <button id="addComments" onclick="buttonClicked()"> Add Comment</button>
            <div class="write">
                <div class="reply">
                    <div class="innerReply"> </div>
                </div>
            </div>

            <script type="text/javascript" src="../js/comments.js"></script>

            <hr>
            <footer id="page footer">
                &copy; 2021, Lauren Broski;
                <section>
                    <a href="https://www.linkedin.com" aria-label="LinkedIn">
                        <i class="fab fa-linkedin fa-s"></i></a>
                    <a href="https://www.twitter.com" aria-label="Twitter">
                        <i class="fab fa-twitter fa-s"></i></a>
                    <a href="mailto: laurenbroski@oakland.edu" aria-label="Email Lauren Broski">
                        <i class="fas fa-paper-plane"></i></a>
                </section>
            </footer>


</body>

</html>