<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fun Facts about Lauren Broski">
    <meta name="keywords" content="BOOK, TELEVISION SERIES, AUDIO, VIDEO">
    <meta name="author" content="Lauren Broski">
    <title> Lauren Broski's Portfolio Profile </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/media/img/coffeeCup.png" type="img/png" />
    <link rel="stylesheet" href="/public/css/portfolio_stylesheet.css">

</head>

<body>
    <header>
        <nav>
            <span><a href="/"> Home Page</a> </span>
            <span><a href="./my_resume.ejs"> Resume Page</a> </span>
            <span><a href="./my_funfacts.ejs"> Fun Facts Page</a> </span>
            <span><a href="./my_blog.ejs"> Blog Page</a> </span>
            <span><a href="./trivia.ejs"> Blog Page</a> </span>
        </nav>
    </header>

    <main id='fun_fact_content'>
        <h1> Some Fun Facts About Me! </h1>

        <section id="my favorite mediums">
            <div id="F_B">
                <h2 id="Fav_Book"> My Favorite Book: The Great Gatsby by F. Scott Fitzegarld </h2>

                <figure>
                    <img src="/public/media/img/greatGatsby.jpeg" alt="Blue book cover with floating face above skyline" width="225" height="300" class="Cover">
                    <figcaption> Figure: Blue background with a
                        <br> disembodied face floating above the
                        <br> lights of New York. </figcaption>
                </figure>
                <a href="https://www.amazon.com/Great-Gatsby-F-Scott-Fitzgerald/dp/0743273567"> Buy it from Amazon here!</a>
                <p> Summary: The Great Gatsby, told from a first-person limited perspective during the roaring 20s, revolves around
                    <br> the mystery about a man named Gatsby who is in love and pining after the narrator, Nick's cousin Daisy
                    <br> who is married. He does a lot of grand gestures in order to try and get her to notice him, like throwing
                    <br> extravagant parties. It's got glitz, glamour, mystery, romance, tragedy, and even some humor if you read it
                    <br> closely. In order to find out if Gatsby is successful, you'll have to read the book.
                </p>
            </div>

            <div id="A_F">
                <h2 id="Audio_File"> My Favorite Song: How Far I'll Go by Auli'i Cravalho </h2>
                <audio src="/public/media/audio/audio_Aulii Cravalho - How Far Ill Go.mp3" controls>
                      Audio element not supported by browser.
                    </audio>
                <p> <a href="https://music.apple.com/us/album/how-far-ill-go/1440639027?i=1440639381">Listen to it on Apple Music today!</a> </p>
            </div>

            <div id="V_F">
                <h2 id="Video_File"> Disney+ Recommendation: WandaVision </h2>
                <video src="/public/media/video/WandaVisionOfficialTrailerDisney.mp4" controls width="45%">
                      Video element not supported by browser.
                    </video>
            </div>
        </section>
    </main>

    <hr>
    <footer id="page footer">
        &copy; 2021, Lauren Broski;
        <section>
            <a href="https://www.linkedin.com" aria-label="LinkedIn">
                <i class="fab fa-linkedin fa-s"></i></a>
            <a href="https://www.twitter.com" aria-label="Twitter">
                <i class="fab fa-twitter fa-s"></i></a>
            <a href="mailto: laurenbroski@oakland.edu" aria-label="Email Lauren Broski">
                <i class="fas fa-paper-plane"></i></a>
        </section>
    </footer>
</body>