<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Resume page">
    <meta name="author" content="Lauren Broski">
    <meta keywords="RESUME, EXPERIENCE, EDUCATION, EXTRACURRICULARS">
    <title> Lauren Broski's Portfolio Profile </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/media/img/coffeeCup.png" type="img/png" />
    <link rel="stylesheet" href="/public/css/portfolio_stylesheet.css">
</head>

<body>
    <header>
        <nav>
            <span><a href="/"> Home Page</a> </span>
            <span><a href="./my_resume"> Resume Page</a> </span>
            <span><a href="./my_funfacts"> Fun Facts Page</a> </span>
            <span><a href="./my_blog"> Blog Page</a> </span>
            <span><a href="./trivia"> Trivia Page</a> </span>
        </nav>
    </header>

    <main id='resume page content'>
        <h1> Lauren Broski - Resume </h1>

        <h2 id="contact"> Contact Information </h2>
        <li a href="address"> Address: 1234 Pinegrove Boulevard, Auburn Hills, MI 48309</li>
        <li a href="#email"> Email: laurenbroski@oakland.edu </li>
        <li a href="#phone number"> Phone number: 313-206-7895</li>

        <section id="Objective">
            <p> Goal: Looking to gain some cybersecurity knowledge through an internship that is remote for summer of 2022.</p>
        </section>

        <section id="P_E">
            <h2 id="Experience"> Experience</h2>
            <section>
                <h3> August 30, 2021 -- Present, Housing Technology Helpdesk Technican, Oakland University, Rochester MI </h3>
                <p>
                    <ul>
                        <li> Troubleshoot resident’s computers, phones, televisions, gaming consoles, and speakers through the phone and email.
                            <li> Assist in installations and basic desktop support of University Housing workstations and peripherals.
                    </ul>
                </p>

                <h3>May 17, 2020 -- September 1, 2020, IT Project Services Intern, Independent Bank, Ionia MI</h3>
                <p>
                    <ul>
                        <li> Organized project information for ease of communication among the different departments and during the company’s core conversion.
                            <li> Assist in running the meetings for gathering the metrics for the sub-groups of the Information Technology department.
                                <li> Collaborated with other interns on a project to the Executive Board. </li>
                    </ul>
                </p>
            </section>
        </section>

        <section id="Edu">
            <h2 id="Education"> Education Experiences </h2>
            <table id="HTML_table_table1" border=" ">
                <tr>
                    <th> Start -- End </th>
                    <th> Degree</th>
                </tr>
                <tr>
                    <td>September 2019</td>
                    <td> Bachelors Degree in Information Technology</td>

                </tr>
                <tr>
                    <td> May 2023</td>
                    <td> Oakland University, Rochester, MI</td>

                </tr>
            </table>

            <section id="E_H">
                <h2 id="Extracurriculars"> Extracurriculars and Hobbies </h2>
                <ul>
                    <li> Operations Coordinator, Community Council. In those role, I am responsible for organzing events for students on campus, as well as keep track of financial records.
                        <li> Member of the Grizzles Formula SAE Team. I work specifically with the Electrical team, putting together the car's harness and rewiring parts, such as the brakes.
                            <li> General member of Women in Computing. Attend general meetings and participate in networking events.
                                <li> Putting together puzzles. My favorite puzzle I've done, is the one that is in the shape of a frog</li>
                                <li> Baking. In the fall, my favorite treat to bake is pumpkin chocolate chip cookies!</li>
                </ul>
            </section>
    </main>

    <hr>
    <footer id="page footer">
        &copy; 2021, Lauren Broski;
        <section>
            <a href="https://www.linkedin.com" aria-label="LinkedIn">
                <i class="fab fa-linkedin fa-s"></i></a>
            <a href="https://www.twitter.com" aria-label="Twitter">
                <i class="fab fa-twitter fa-s"></i></a>
            <a href="mailto: laurenbroski@oakland.edu" aria-label="Email Lauren Broski">
                <i class="fas fa-paper-plane"></i></a>
        </section>

    </footer>
</body>