<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home page">
    <meta name="author" content="Lauren Broski">
    <title> Lauren Broski's Portfolio Profile </title>
    <script src="https://kit.fontawesome.com/c807ac2220.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/media/img/coffeeCup.png" type="img/png" />
    <link rel="stylesheet" href="/public/css/trivia_style.css">
    <script defer src="../public/js/trivia.js"></script>
    <script defer src="../public/js/comments.js"></script>

</head>

<body>
    <header>
        <nav>
            <span><a href="/"> Home Page</a> </span>
            <span><a href="./my_resume"> Resume Page</a> </span>
            <span><a href="./my_funfacts"> Fun Facts Page</a> </span>
            <span><a href="./my_blog"> Blog Page</a> </span>
            <span><a href="./trivia"> Trivia Page</a> </span>
        </nav>
    </header>

    <div class="trivia_q">
        <h1> Trivia Page </h1>
        <div id='trivia_content'>
            <h2> Question 1: In what month is Earth closest to the sun? </h2>
            <form action="/answerQ1" method="post" id="selecQA">
                <h3> A. January </h3>
                <h3> B. April </h3>
                <h3> C. July </h3>
                <h3> D. October</h3>
                <label for="inputQ1"> Select The Correct Answer</label>
                <input type="text" name="inputQ1" placeholder="Choose A, B, C, or D" size="100" />
                <br>
                <input type="submit" value="SUBMIT" />
            </form>
        </div>

        <div id='trivia_content'>
            <h2> Question 2: What franchise team is the oldest in professional football history? </h2>
            <form action="/answerQ2" method="post" id="selecQA">
                <h3> A. Detroit Lions </h3>
                <h3> B. New England Patriots </h3>
                <h3> C. Seattle Seahawks </h3>
                <h3> D. Arizona Cardinals</h3>
                <label for="inputQ2"> Select The Correct Answer</label>
                <input type="text" name="inputQ2" placeholder="Choose A, B, C, or D" size="100" />
                <br>
                <input type="submit" value="SUBMIT" />
            </form>
        </div>

        <div id='trivia_content'>
            <h2> Question 3: What is the longest-running Broadway show? </h2>
            <form action="/answerQ3" method="post" id="selecQA">
                <h3> A. Wicked </h3>
                <h3> B. The Phantom of the Opera </h3>
                <h3> C. The Lion King </h3>
                <h3> D. Chicago </h3>
                <label for="inputQ3"> Select The Correct Answer</label>
                <input type="text" name="inputQ3" placeholder="Choose A, B, C, or D" size="100" />
                <br>
                <input type="submit" value="SUBMIT" />
            </form>
        </div>

        <div id='trivia_content'>
            <h2> Question 4: In what year did Kanye West interrput Taylor Swift at the VMAs </h2>
            <form action="/answerQ4" method="post" id="selecQA">
                <h3> A. 2009 </h3>
                <h3> B. 2010 </h3>
                <h3> C. 2012 </h3>
                <h3> D. 2014</h3>
                <label for="inputQ4"> Select The Correct Answer</label>
                <input type="text" name="inputQ4" placeholder="Choose A, B, C, or D" size="100" />
                <br>
                <input type="submit" value="SUBMIT" />
            </form>
        </div>

        <div id='trivia_content'>
            <h2> Question 5: What is the single most popular computer system ever sold</h2>
            <form action="/answerQ5" method="post" id="selecQA">
                <h3> A. iMac </h3>
                <h3> B. Apple II </h3>
                <h3> C. Commodore 64 </h3>
                <h3> D. IBM PC</h3>
                <label for="inputQ5"> Select The Correct Answer</label>
                <input type="text" name="inputQ5" placeholder="Choose A, B, C, or D" size="100" />
                <br>
                <input type="submit" value="SUBMIT" />
            </form>



        </div>
        <form action="/totalpoints" method="post" id="sScore">
            <label for="totalpoints"> View Your Score</label>
            <input type="submit" value="Request Score" />
        </form>
    </div>


    </div>

    <hr>
    <footer id="page footer">
        &copy; 2021, Lauren Broski;
        <section>
            <a href="https://www.linkedin.com" aria-label="LinkedIn">
                <i class="fab fa-linkedin fa-s"></i></a>
            <a href="https://www.twitter.com" aria-label="Twitter">
                <i class="fab fa-twitter fa-s"></i></a>
            <a href="mailto: laurenbroski@oakland.edu" aria-label="Email Lauren Broski">
                <i class="fas fa-paper-plane"></i></a>
        </section>

    </footer>
</body>