* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #f0a04b;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #f0a04b;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: #f0a04b;
    float: right;
    position: absolute;
    margin-left: 60%;
    top: 80px;
    clear: both;
}

main {
    background-color: #fefbe9;
    clear: both;
}

a {
    color: #fafafa;
    background-color: #183a1d;
    border-style: solid;
    border-radius: 10%;
    margin: 5px;
    padding: 7px;
    float: right;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: #e1eedd;
}

figcaption {
    font-style: italic;
    font-size: 10px;
}

blockquote {
    font-style: oblique;
    font-size: 16px;
    font-family: cursive;
    text-align: left;
    display: inline;
}

header,
footer {
    float: right;
}

.intro_top {
    margin-left: 50%;
    top: 150px;
    position: absolute;
    background-color: #f0a04b;
    line-height: 1.4;
    padding: 10px;
    color: #fafafa;
    border-radius: 12px;
}

.intro_bottom {
    margin-left: 50%;
    bottom: 100px;
    position: absolute;
    background-color: #f0a04b;
    line-height: 1.4;
    padding: 10px;
    color: #fafafa;
    border-radius: 12px;
}

.progress_bar {
    text-align: right;
    margin-top: 25x;
    margin-right: 200px;
    margin-bottom: 30px;
    padding: 5px;
}

#contact {
    color: #e1eedd;
    background-color: #f0a04b;
    width: 25%;
}

li {
    list-style-type: square;
}

#Objective {
    font-weight: bold;
    margin-left: 10px;
}

#Experience,
#Education,
#Extracurriculars,
#Fav_Book,
#Audio_File,
#Video_File {
    color: #e1eedd;
    background-color: #f0a04b;
    width: 25%;
    margin-left: 10px;
}

h3 {
    color: #e1eedd;
    background-color: #f0a04b;
    width: 60%;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    margin-top: 225px;
    border-radius: 5px;
}

#HTML_table_table1 {
    text-align: center;
    margin-left: 20px;
}

#Extracurriculars {
    line-height: 1.5;
}

figure figcaption {
    text-align: left;
    margin: 35px;
}

section {
    display: inline;
}

#label {
    font-weight: bold;
    font-style: italic;
    line-height: 20%;
}