    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    a {
        color: #fafafa;
        background-color: #183a1d;
        border-style: solid;
        border-radius: 10%;
        margin: 5px;
        padding: 7px;
        float: right;
    }
    
    a:hover {
        color: rgb(0, 0, 0);
        background-color: #e1eedd;
    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: #f0a04b;
        text-align: center;
    }
    
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #f0a04b;
    }
    
    h3 {
        color: #fafafa;
        background-color: #e1eedd;
        width: 25%;
    }