    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: #f0a04b;
        text-align: center;
    }
    
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #f0a04b;
    }
    
    h3 {
        color: #fafafa;
        background-color: #183a1d;
        width: 25%;
    }