    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        color: #f0a04b;
        text-align: center;
    }
    
    h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #f0a04b;
    }
    
    h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        float: left;
        position: absolute;
        margin-left: 10px;
        display: grid;
        color: #fafafa;
        background-color: #183a1d;
        border-style: solid;
        border-radius: 10%;
        margin: 7px;
        padding: 5px;
        line-height: 20px;
    }